$margin:10px;
$white: #ffffff;
$black:#111;

//navigation variables
$nav-link-primary:white;
$nav_background:white;
$nav_title_background:rgb(212, 212, 212);
$nav-link-clicked:grey;
$nav-link-height: 45px;
$link-button-color:white;
